apiVersion: apps/v1
kind: Deployment
metadata:
  name: gohackernews-deployment
  labels:
    app: go-hackernews
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-hackernews
  template:
    metadata:
      labels:
        app: go-hackernews
    spec:
      containers:
      - name: go-hackernews
        image: gcr.io/go-hackernews/go-hackernews:v3
        ports:
        - containerPort: 50051
